*{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}
th,
td{
width: 100px;
height: 50px;
text-align: center;
}
body{
     font-family: "Inter", sans-serif;
    background-color: #321A4A;
    color: white;
    
}
.border-white{
    border: 1px solid white;
    border-radius: 60px;
}
.profile{
    justify-self: center;
    margin: 0 auto;
    margin-bottom: 110px;
}
.menu-ul{
    display: flex;
    gap: 300px;
    margin-bottom: 75px;
    margin-top: 75px;
    list-style: none;
}
.menu-li{
    font-size: 36px;
    text-decoration: none;
    color: white;
}
.menu-li:hover{
    text-decoration: underline;
}
.subtitle{
    
  text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.under-titile{
    font-size: 36px;
    margin-bottom: 30px;
}
.profile-content{
    justify-self: center;
}
th,
td{
    width: 300px;
    height: 70px;
    font-size: 24px;
}
table{
    margin-bottom:50px;
    border-collapse: collapse;
}